# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore generated run directories
run/

# Ignore downloaded Gradle wrapper binary
gradle/wrapper/gradle-wrapper.jar
